section {
    height: auto;
    background-color: $primary;
    margin-bottom: 0;

    .wrapper {
        text-align: center;
    }

    h2 {
        padding-top: 25px;
        margin: 0;
    }

    ul {
        margin: 0;
    }

    .recipe-image {
        width: 200px;
        height: 200px;
    }
}
