html {
    font-size: 125%;
}

body {
    font-family: $body-font;
    font-size: 1rem;
    color: $solid-black;
}

h1 {
    font-size: 6rem;
    margin: 0;
    padding-top: 375px;
    // tell sophia that i changed the padding
}

h2 {
    font-family: $heading-font;
}